@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --flower-v-offset: -8.25vh;
}

body {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background-color: rgb(255, 251, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
}

img {
    max-width: 75vw;
    z-index: 1;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 275px;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 0;
}

.title-img {
    width: 550px;
    aspect-ratio: 9 / 2.5;
}

.container p {
    margin: 0;
}

.hebrew-text {
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.txt-center {
    text-align: center;
}

.social-links {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
}

.description,
.hebrew-text {
    font-weight: 300;
    font-size: 24px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

a:hover {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.flower-horizontal {
    position: fixed;
    width: 60vw;
}

.flower-top-1 {
    left: -5vw;
    top: -7vh;
}

.flower-top-2 {
    left: 51vw;
    top: -7vh;
}

.flower-bottom-1 {
    bottom: -7vh;
    left: -5vw;
}

.flower-bottom-2 {
    bottom: -7vh;
    left: 51vw;
}

.flower-vertical {
    position: fixed;
    height: 30vh;
}

.flower-left-1 {
    left: var(--flower-v-offset);
    top: 15vh;
    transform: rotateX(180deg);
}

.flower-left-2 {
    left: var(--flower-v-offset);
    top: 52.5vh;
    transform: rotateY(180deg);
}

.flower-right-1 {
    right: var(--flower-v-offset);
    top: 15vh;
    transform: rotateX(180deg);
}

.flower-right-2 {
    right: var(--flower-v-offset);
    top: 52.5vh;
    transform: rotateY(180deg);
}

#bg{
    width: 100vw;
    height: 100vh;
    max-width: 150vw;
    object-fit: cover;
}